* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}




body {


    width: 100%;
    height: 120vh;
}

/* Nav-bar */




.card {
    -moz-perspective: 200rem;
    perspective: 100rem;
    position: relative;
    height: 30rem;
    border-radius: 10px;
    backface-visibility: hidden;
  }
  
  .card__side {
    height: 28rem;
    transition: all 1s ease;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 23px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  
  .card__side--front {
    background-color:#a5dce1;
  }
  
  .card__side--back {
    transform: rotateY(180deg);
  }
  
  .card__side--back-1 {
    background-image: linear-gradient(to right bottom,  rgba(170,26,117, 0.8),
    rgba(118,6,73, 0.8));
  }
  
 
  

  
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
  
  .card__pic {
    width: calc(100% - 2rem);
    height: -37rem;
    margin-bottom: 1rem;
    padding: -5rem;
    clip-path: polygon(50% 5%, 100% 50%, 86% 50%, 87% 92%, 15% 92%, 15% 50%, 0 50%) ;
    background-size: cover;
  
  }
  
 
  .card__pic--2 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQaRydlQmuTqBZIng5UwGU-8LuUf_JpyMM8uwi2gzbSxcag9yT0&usqp=CAU");
  }
  
  
  
  .card__heading {
    position: relative;
    top: 7rem;
    right: 4rem;
    color: #fff;
    width: 65%;
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-title-2{
    position: relative;
    top: 10px;
    color: white;
    left: 50px;
  }


  .card-title-3{

    position: relative;
    top: 10px;
    color: white;
    left: 66px;
    font-size: 20px;
  }
  .card__heading span {
    padding: 0rem 1.5rem;
    box-decoration-break: clone;
  }
  
  .card__h-span-1 {
    background-image: linear-gradient(
      rgba(170,26,117, 0.8),
      rgba(118,6,73, 0.8)
    );
  }
  
  .card__h-span-2 {
    background-image: linear-gradient(
      to right bottom,
      rgba(48, 227, 202, 0.8),
      rgba(17, 153, 158, 0.8)
    );
  }
  
  .card__h-span-3 {
    background-image: linear-gradient(
      to right bottom,
      rgba(170,26,117, 0.8),
      rgba(118,6,73, 0.8)
    );
  }
  
  span.card__span-mountain {
    font-size: 2.2rem;
    padding: 0;
  }
  
  .card__details {
    color: black;
    font-size: 0.9rem;
    margin-top: -25rem;
    padding-top: 16rem;
    padding-bottom: 2rem;
  }
  .card__details ul {
    width: 60%;
    margin: auto;
  }
  
  .card__details li:not(:last-child) {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .card__side2-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card__price {
    position: relative;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 4rem;
  }
  
  .card__price-value {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.6;
  }
  
  .btn {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  
  .btn:active,
  .btn:focus {
    transform: translateY(0);
  }
  
  .btn--white {
    background-color: #fff;
  }






header {
    background-color: #aa1a75;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 1%;
    
}
.logo-top-left {
    width: 200px;
    height: 120px;
    margin-left: 1%;
}
.logo{
    width: 190px;
    margin-top: -10px;
    margin-left: 60px;
}

.box {
    width: 100px;
    height: 100px;
    flex: 1.3;
}

 /* NAV-LINKS */
nav {
    flex: 1;
}
.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;  
    justify-content: space-evenly;
}

.nav-link {
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #4da3b4;
}

.top-right-user-box {
    flex: 0.5;
}
.house-icon {
    width: 132px;
    height: 132px;
    position: absolute;
    top: 1px; /* 2%*/
    right: 106px; /* 5.4%*/
}
.house-icon-image{
    width: 135px;
    height: 110px;
}

.top-right-house-logo {
    width: 120px;
    height: 120px;
    clip-path: polygon(50% 5%, 100% 50%, 86% 50%, 87% 92%, 15% 92%, 15% 50%, 0 50%);
}
.img-user {
    width: 120px;
    height: 160px;
}           



.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    margin-top: 10%;
    margin-left: 5%;
}
.card {
    width: 300px;
    border-radius: 25px;
    margin-bottom: 3%;
    margin-left: 3%;
    padding-top: 1%;
    
}
.card-house-icon {
    position: absolute;
}
.card-house-image {
    width: 280px;
    height: 250px;
    margin-left: 2%;
    margin-top: -2%;
}

.card-color-2 {
  border: 3px solid white;
}


.pagination{
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
}

.pagination a{
    background-color: #73C8D0;
    color: white;
}

.page-link{
    border-radius: 10px;
}

.paging-numbers {
    position: relative;
    display: inline-flex;
    list-style: none;
}


.footer{
    border: solid white;
    background-image: url("./footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.footer-text-follow-us {
    
    font-size: 16px;
    color: white;
    margin-top: 6%;
    margin-left: 11%;         
     
  }
  
.logo-footer-text-1 > p {    
    margin-left: 82%;
    font-size: 20px;  
    color:white;
  }

.logo-footer-text-1 img{
    
    height: 50px;  
    color: #4DA3B4;
    background-color: #4DA3B4;
    border-radius: 50%;
  }
 
.instagram{
    margin-left:10%;
}

.footer-text-2 {
    
    margin-left: 73%; 
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

