* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Dosis', sans-serif;
    background: whitesmoke ;
    text-align:start;
  }

  header {
    background-color:whitesmoke;
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    display:inline-flex;
    align-items: center;
    color: #404f54;
    justify-content: space-between;
    border-bottom:3px solid black;
}

header>div>nav>ul {
    display: flex;
    list-style: none;
}

header>div>nav>ul a {
    color: #404f54;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}


header>div>nav>ul li {
    padding:20px;    
}
  
.text {
    margin-top: -60px;
    margin-left: 190px;
    
}

.text2 {
    margin-top: -10px;
    margin-left: 190px;
}

.text3 {
    margin-left: 1090px;
    position: absolute;
}
footer {
    background-color: darkgrey;
    padding-bottom: 30px;
    position: absolute;
    left: 0;
    bottom: -650px;
    width: 100%;
    height: 10%;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 94%;
    max-width: 800px;
    text-align: center;
}

.content {
    position: relative;
    padding: 25px;
    color: #F5F7F7;
    font-weight: 80;
    letter-spacing: 0.4px;
    line-height: 30px;
}

.content p {
    font-weight: 80;
    color: #F5F7F7;
    letter-spacing: 0.40px;
    font-size: 1.18em;
    line-height: 25px;
    text-align: center;
}

.nav {
    max-width: 350px;
    padding: 20px 0;
    margin: 0 auto;
}

a.btn {
    padding: 15px 30px;
    border-radius: 50px;
    background-color: darkgray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease 0s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}


    
  .previous {

      margin-left: 40px;
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }

  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    color: whitesmoke;
    margin-left: 1200px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color:#333333;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: relative;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 0 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }


.buttonprev{
position: relative; 
margin-left: 230px;
bottom: -70px;
}

.buttonnext{
 
  position: relative;
  margin-left: 990px;
  bottom: -70px;
}

  @import url(https://fonts.googleapis.com/css?family=Raleway);
  /* Colors */
 
  
  footer {
    width: 100%;
    display: inline-block;
    margin: 0em 0;
    height: 70px;
    background-color: #999;
  }
  footer .copyright {
    width: 50%;
    float: left;
  }
  @media (max-width: 600px) {
    footer .copyright {
      width: 100%;
    }
  }
  footer .copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  @media (max-width: 600px) {
    footer .copyright p {
      text-align: center;
      padding: 0;
    }
  }
  footer .social {
    width: 50%;
    float: right;
  }
  @media (max-width: 600px) {
    footer .social {
      width: 100%;
    }
  }
  footer .social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  footer .social a:hover {
    background-color: #222;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .linked {
    background-color: #1E83AE;
    font-size: 1.2em;
    width: 20%;
  }
  
  .face {
    background-color: #3D5B94;
    font-size: 1.2em;
    width: 20%;
  }
  
  .tweet {
    background-color: #3DACDD;
    font-size: 1.2em;
    width: 20%;
  }
  
  .support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
  }




  @import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1540 {
  box-shadow: none !important;
  color: #141414;
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  position: relative;
  text-align: left;
  width: 100%;
  margin-left: 150px;
  margin-top: 90px;
}

.snip1540 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1540 .profile-image img {
  border-radius: 5px;
  max-width: 100%;
  height: 80px;
  vertical-align: top;
  float: left;
}

.snip1540 figcaption {
  background-color: #333333;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-top: 15px;
  padding: 25px;
  position: relative;
  width: 100%;
}

.snip1540 figcaption:after {
  border-color: transparent transparent #333333 transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  bottom: 100%;
  content: "";
  height: 0;
  left: 32px;
  position: absolute;
  width: 0;
}

.snip1540 h3,
.snip1540 h4,
.snip1540 p {
  margin: 0 0 5px;
}

.snip1540 h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: "Montserrat", Arial, sans-serif;
}

.snip1540 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1540 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1540 .icons {
  padding: 20px 90px;
}

.snip1540 i {
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  opacity: 0.75;
  padding: 10px 2px;
}

.snip1540 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}


.text {
    margin-top: 90px;
    margin-left: 150px;
    
}

.text2 {
    margin-top: 30px;
    margin-left: 150px;
}

.text3 {
    margin-left: 1090px;
    position: absolute;
}